*.swp
settings.conf
conzept-docker/
.env
node_modules
data/certbot
guide/data/cache/**/*
app/explore2/_next
app/explore2/src/core/env.js
app/explore2/tools/json-proxy.json
app/radio/
app/iiif-ng/
app/iptv*
app/chat/tmp
app/citation/
app/explore2/src/datasources/iptv/
app/speaker-diarization
presentations

app/ai-graph/
