<IfModule mod_ssl.c>
<VirtualHost *:443>
  # change YOUR_SERVER_NAME
  ServerName YOUR_SERVER_NAME

  ServerAdmin webmaster@localhost
  DocumentRoot /var/www/html

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  Protocols h2 h2c http/1.1

  ProxyRequests Off
       ProxyPreserveHost On
       ProxyVia Full
       <Proxy *>
    Require all granted
       </Proxy>

       <Location /app/proxy>
    # command: conzept-api-proxy.sh
    ProxyPass http://127.0.0.1:50001
    ProxyPassReverse http://127.0.0.1:50001
       </Location>

       <Location /app/cors>
    # command: npm start allOrigins/app.js
    ProxyPass http://127.0.0.1:1458
    ProxyPassReverse http://127.0.0.1:1458
       </Location>

        <Directory "/var/www/html">
         Options Indexes FollowSymLinks MultiViews
         AllowOverride All
         Require all granted
        </Directory>

  # change YOUR_SERVER_HOST (eg. "mysite.com")
  SSLCertificateFile /etc/letsencrypt/live/YOUR_SERVER_HOST/fullchain.pem
  SSLCertificateKeyFile /etc/letsencrypt/live/YOUR_SERVER_HOST/privkey.pem
  
  Include /etc/letsencrypt/options-ssl-apache.conf

</VirtualHost>
</IfModule>
