html, body {
    width: 100%;
    height: 100%;
    background: black;
    overflow: clip;
}

#content {
    width: 100%;
    height: 100%;
}

#miniMap {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 0.5em;
    /*box-shadow: 0px 0px 20px rgba(255,255,255, 0.9);*/
}

#timer {
    font-size: 90px;
    line-height: 200px;
    text-align: center;
    width: 500px;
    height: 200px;
    background: green;
    position: absolute;
    top: 390px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0px 0px 20px rgba(255,255,255, 0.9);
}

#guessButton {
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 460px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 340px;
    right: 20px;
    z-index: 1000;
    background: #2880ca !important;
}

#guessButton:hover {
    background: #FF6666;
}

#image {
    max-width: 100%;
    max-height: 100%;
    z-index: 999;
    object-fit: cover;
    height: 100vh;
}

#scoreBoard {
    position: absolute;
    bottom: 45px;
    right: 20px;
    width: 200px;
    height: fit-content;
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.9);
    z-index: 1000;
    border-radius: 0.5em;
}

select {
    width: 200px;
}

#scoreBoard .round {
}

#scoreboard .totalScore {
}

#roundEnd {
    position: absolute;
    left: 50%;
    width: 400px;
    margin: 40px 0 0 -200px;
    padding: 20px;
    background: white;
    text-align: center;
    display: none;
    z-index: 1005;
    /*box-shadow: 0px 0px 20px rgba(255,255,255, 0.9);*/
    border-radius: 0.5em;
    border: 2px solid black;
}

#roundEnd #roundMap {
    width: 400px;
    height: 300px;
    margin: 20px 0;
}

#roundEnd .closeBtn {
    cursor: pointer;
}

#roundMap {
    width: 500px;
    height: 500px;
    position: relative;
}

#endGame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin: -190px 0 0 -240px;
    padding: 20px;
    background: #EFEFEF;
    text-align: center;
    display: none;
    z-index: 1000;
}

/* Change cursor when mousing over clickable layer */
.leaflet-clickable {
  cursor: default !important;
}

/* Change cursor when over entire map */
.leaflet-container {
    cursor: default !important;
}

#copyright-notice {
  display: none;
  position: absolute;
  z-index: 1000;
  color: white;
  background-color: #11111180;
  left: 1em;
  bottom: 1em;
  font-family: fontAwesome;
  border-radius: 0.2em;
  font-size: 0.6em;
  padding: 0.5em;
}

#image-source {
  color: #ffffffd4;
  padding: 1em;
}

#image-source:hover {
  color: #f3a8ab;
}
