a {
  text-decoration: none !important;
}

.my-ui-back {
  font-size: 2em;
  color: black;
  margin-left: 1em;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SplashScreen {
  background-color: antiquewhite;
}

/* .logo {
  animation: logo-zoom 3s linear;
} */

@keyframes logo-zoom {
  0% {
    font-size: 24px;
  }
  100% {
    font-size: 42px;
  }
}
