<div class="medium-3 columns">
  <div class="fixed">
    <div id="terms-of-service"><a href="https://www.youtube.com/t/terms" target="_blank">YouTube terms of service</a></div>
    <form class="search-form" ng-submit="location.path('/search/' + query)">
      <input id="title" ng-model="query" type="text" placeholder="search...">
      <button class="button small expand" title="search"> <i class="fas fa-search"></i> </button>
    </form>
    <div ng-include src="'views/' + section + '.html'"></div>
  </div>
</div>
<div when-scrolled="loadVideos()" class="medium-9 video-list columns">
  <div ng-include src="'views/videos.html'"></div>
</div>
