.link_gallica {
            color:teal;
            text-decoration:none;
            font-size:1.5em;
          }


.meta_gallica{
            text-align:center;
          }

 .link_gallica {
            color:teal;
            text-decoration:none;
            font-size:1.5em;
          }


.meta_gallica{
            text-align:center;
          }

.entity_name {
  text-decoration: none;
}

.lieu {
  color: green; 
}

.communication {
  color:turquoise;
}

/*Nav bar*/
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 1.2em;
    color: white;
    text-align: center;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1em;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #35998f;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.illustration_cinema{
    max-width:80%;
}

.list_pages a {
    text-decoration:none;
    color:orange;
}

.result_query a {
    text-decoration:none;
    color:orange;
}

p.section {
    position:relative;
    margin:1em 0;
}

p.paragraph {
    position:relative;
    margin:1em 0;
}


h3 {
    position:relative;
    margin:1em 0;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}

.section_id {
    display:block;
    position:absolute;
    left:-3em;
    right:3em;
}

.section_id a {
    text-decoration:none;
    color:#c5810b;
}

.text_container {
    float:left;
    margin-left:4em;
    width:60%;
}

.metadata_article {
    float:left;
    margin-left:2em;
    width:30%;
}

.center_title{
    text-align:center;
    size:1.6em;
}

.dispatch_title{
    color:grey;
    font-variant:small-caps;
}


.header_article {
    color:grey;
    margin-left:-3em
}

#previous_elm {
    display:block;
    float:left;
}

#previous_elm a {
    text-decoration:none;
    color:red;
}

#next_elm {
    display:block;
    float:right;
}

#next_elm a {
    text-decoration:none;
    color:green;
}

.navigate_article {
    margin-top:1em;
}

.parent_article {
    margin-top:1em;
    text-align:center;
}

.parent_article a {
    text-decoration:none;
    color:blue;
}

.main-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: .5em;
    color: #35998f;
    font-weight: bold;
}

#super_title {
    color:#929d9c;
    font-size:.6em;
}

/*Style of the signatures*/


#signatures_meta {
    margin-top: .5em;
}

#presentation_signatures {
    color: gray;
    margin-right: .5em;
}

.name_signature {
    text-decoration: none;
    color: #43b5ea;
}

.real_signature {
    font-style:italic;
}


/*Style of the person metadata*/

.list_article_person a {
    text-decoration:none;
    color:orange;
}

.list_article_person {
    float: left;
    width: 60%;
    margin-right: 2em;
}

.collaboration_signatures h3 {
    text-align:center;
    color:#b49c19;
}

.person_name {
    color:#0b7508;
}


/*Style of the image metadata*/

.illustration_caption {
    max-width:150px;
    max-height:150px;
    margin-right:5px;
    margin-left:5px;
}

/*Style for the almanac*/

.index_container a {
  text-decoration: none;
  color:#007bff;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
  background: #ee6e735c !important;
  border: none;
  outline: 0;
}

.index_container p {
    margin-top:.5em;
    margin-bottom:.5em;
    font-size:1em;
}

.index_container h3 {
    font-size:1.5em;
}

#results {
    font-weight: bold;
    text-align: left;
    font-size:1.2em;
    margin-top:2em;
}

.section {
    margin-left: 1.5em;
}
