/*
 * Globals
 */

 .btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.btn {
	margin-bottom: 10px;
}

 .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

/* body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
} */

body {
  background: #fbfaf9
}

.cover-container {
  max-width: 42em;
}

.container {
  max-width: 95%;
  padding-bottom: 1em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


#searchgroup {
    margin: 2%;
}

.card {
  margin-bottom: 1rem;
}

.form-floating {
  margin: 0.5rem;
}

/* CONZEPT PATCH */

#main-title {
  font-size: 1.4em;
  font-weight: bold;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 230px;
  grid-gap: 200px;
  grid-auto-flow: dense;
  text-align: center;
}

.image-gallery li {
  list-style-type: none;
  line-height: 1.3em;
  height: 250px;
  /*height: max-content;*/
}

.thumbimage.enlargable {
  border-radius: 0.2em;
  box-shadow: 0 4px 8px #0003,0 6px 10px #00000030;
}

.thumbimage.enlargable:hover {
  outline: #E8646A solid 8px;
}

#lcl_elem_wrap {
  background-size: contain !important;
}

#lcl_window {
  width: 100vw !important;
  height: 100vh !important;
}

#lcl_txt {
  border-radius: 1em !important;
}

ul.navbar-nav {
 color: white; 
}

.btn-outline-warning:hover {
  color: #000;
  background-color: none;
  border-color: none;
}

.pagination li {
  display: inline;
}

#pagination-container {
  margin-top: 8em;
  font-weight: bold;
  font-size: larger;
  border: 1px solid black;
  border-radius: 0.5em;
  width: fit-content;
  margin: auto;
  margin-top: 7em;
  padding-right: 1.5em;
}

#result-count {
  font-weight: bold;
}

#result-meta {
  float: right;
}

.btn.btn-outline-warning {
  margin-right: 1em;
}

.item-title {
  font-weight: bolder;
}

.item-legal {
  /*filter: grayscale(1);*/
  font-size: smaller;
}

.item-copyright i {
  color: #000f0054 !important;
}

.item-copyright {
  filter: grayscale(1);
}

.item-source, .item-copyright {
  vertical-align: middle;
}

a:link {
  color: black;
  /*text-decoration: none;*/
}

a:hover {
  color: #e8646a !important;
}

#results {
  width: 97vw;
}

.page-item:not(.disabled):hover {
  background: #f3a8ab;
}

.page-item.active {
  background: #f3a8ab;
}

.page-link.num {
  padding: 1.5em;
  margin: 0em 1em;
}

#pagnav a {
  color: black;
}

#footer {
  margin-top: 1em;
}

.item-year {
  font-weight: normal;
}

ul.image-gallery li:focus, ul.image-gallery li:hover {
  border-radius: 4px;
}

.user-options {
  font-size: 1.5em;
}

input[type=checkbox] {
  transform: scale(1.5);
}

#searchbox {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.3em;
}

#searchbtn {
  font-size: 2em;
  padding: 0.1em 0.3em;
}

label i {
  vertical-align: middle;
}

ul.outline {
  border: 1px solid black;
  width: max-content;
  padding: 2em;
}

audio {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: -0.5em;
}

video {
  width: 100%;
  border-radius: 0.5em;
}

.btn-check, label i:hover {
  color: #e8646a !important;
  cursor: pointer;
}

.detail-inline {
  display: inline;
  margin-left: 1em;
}

/*
.detail-inline:hover {
  color: #e8646a;
}
*/

a.page-link.num:hover {
  color: black !important;
}
