html, body {
  font-family: 'Quicksand';
  margin: 0;
}

#autoComplete {
    top: 10px;
    left: 60px;
    border: 1px solid white;
    background-color: #33354278;
    background-size: 1rem;
    background-position: left 0.65rem top 0.6rem;
    caret-color: white;
    padding: 0 0 0 2.1rem;
    height: 2.1rem;
    width: 0;
}

#autoComplete:hover {
    color: white;
    background-size: 1rem;
    background-position: left 0.65rem top 0.6rem;
    padding: 0 0 0 2.1rem;
    height: 2.1rem;
    width: 9rem;
}

#autoComplete:focus {
    background-size: 1rem;
    background-position: left 0.65rem top 0.6rem;
    padding: 0 0 0 2.1rem;
    height: 2.1rem;
    width: 9rem;
    border: 1px solid white;
    color: white;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 3px 3px;
}

#autoComplete::placeholder {
    color: rgba(255, 255, 255, 0);
}

#autoComplete:hover::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#autoComplete:focus::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#autoComplete_list {
    margin: 0;
    left: 11px;
    top: 55px;
}

.autoComplete_result {
    margin: 0;
    border: 1px solid #e3e3e3;
}

.autoComplete_result:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.autoComplete_result:last-child {
    border-radius: inherit;
}

.powered-by {
    display: none;
}

#fullscreenIcon {
  color: white !important;
}
