@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

body, html {
  /* font: 400 15px/1.8 "Lato", sans-serif; */
  height: 100%;
  margin: 0;
  color: #777;

  background-color: black;
  overflow: hidden;

  position: relative;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  height: 100%;
  font-size: 18px;
  font-family: Arial !important;
}

*:focus {
  outline: none;
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: white;
  padding: 0.3em;
}

a:hover {
  /* text-decoration: underline; */
  /* border-color: blue; */
}

#topiclink {
  text-decoration: none !important;
  text-transform: capitalize;
}

#topiclink:focus {
  outline: none;
  border: none;
  color: #f3abad;
}

#quote {
  background-color: #1116;
  color: #fff;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  text-align: center;
}

.caption {
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  font-size: 2.5em;
  background-color: #1116;
  color: #fff;
  box-shadow: 0 14px 14px 0 transparent,0 12px 13px #0000003b;
  /* padding: 1.6vw; */
  font-weight: bold;
  border: 3px solid;
  letter-spacing: 0.03em;
  border-radius: 0.2em;
}

.caption span.border:hover {
  /* border-color: #2196f3; */
  border-color: #f6b2b5;
}

#copyright-notice {
  display: none;
  position: absolute;
  z-index: 1000;
  color: white;
  background-color: #1116;
  left: 1em;
  bottom: 1em;
  font-family: fontAwesome;
  border-radius: 1em;
  font-size: 0.5em;
}

#image-source {
  color: #ffffffd4;
  padding: 0px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

#fullscreenToggle {
  left: 0em;
  font-size: initial;
  top: calc( 50% - 2.7em);
}

canvas {
  display: block;
  /*cursor: pointer;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: sepia(70%) brightness(130%);
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width:1300px) {

  .caption span.border {
    font-size: 2em;
  }

}



