document, body {
  margin: 0px;
  padding: 0px;
}

body {
  background: #fbfaf9;
	/*background-color: rgb(51, 51, 51);*/
}

button {
  width: 4em;
  height: 2em;
}

button:hover {
  background: #8bc3f9;
  border: 1px solid gray;
}

#upload-button {
	width: 150px;
	display: block;
	margin: 20px auto;
}

#file-to-upload {
	display: none;
}

#pdf-main-container {
	width: fit-content;
	margin: 20px auto;
}
#pdfContainer {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
#pdf-loader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
	line-height: 100px;
	height: 100px;
}

#pdf-contents {
	display: none;
}

#pdf-meta {
	overflow: hidden;
	margin: 0 0 20px 0;
}

#pdf-buttons {
	float: left;
}

#page-count-container {
	float: right;
}

#pdf-current-page {
	display: inline;
}

#pdf-total-pages {
	display: inline;
}

.canvas {
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	box-shadow: 0 0 7px black;
}
#page-loader {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}
.textLayer {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	opacity: 0.2;
	line-height: 1;
}

.textLayer > div {
	background-color: transparent;
	color: transparent;
	position: absolute;
	white-space: pre;
	cursor: text;
	transform-origin: 0% 0%;
}

.textLayer > div > span:hover {
	background-color: blue;
	color: transparent;
	position: absolute;
	white-space: pre;
	cursor: text;
	transform-origin: 0% 0%;
}
.highlight {
  background-color: #0082ff !important;
}

.navBar {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  background-color: #1c292d24;
  border-radius: 0.3em;
	z-index: 1;
	padding: 10px 10px;
	display: flex;
	justify-content: space-between;
}

.annotationLayer {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	opacity: 0.2;
	line-height: 1;
	z-index: 5; /* set a higher z-index */
	pointer-events: none;
}

.annotationLayer > section {
	color: transparent;
	position: absolute;
	white-space: pre;
	cursor: text;
	transform-origin: 0% 0%;
	z-index: 5; /* set a higher z-index */
	pointer-events: none; /* allow mouse events to pass through */
}

.annotationLayer > .linkAnnotation > a {
	position: absolute;
	font-size: 1em;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5; /* set a higher z-index */
	pointer-events: auto; /* capture mouse events */
}
