#top {
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	/* border-bottom:1px solid black; */
	padding:2px;
	z-index:5;
}
#map {
	position:absolute;
	left:0px;
	top:0em;
	bottom:0px;
	right:0px;
	z-index:2;
}
#busy {
	display:none;
	padding-top:5px;
}
#update {
	display:none;
}
#options {
	display:none;
}
#interface_language_wrapper {
	margin-right:5px;
	white-space:nowrap;
}
#wdfist {
	display:none;
}
#flickr {
	display:none;
}
#center_on_me {
	font-size:20pt;
	padding-top:3px;
	padding-bottom:3px;
}
#search {
	font-size:20pt;
	padding-top:3px;
	padding-bottom:3px;
}
#search_dialog {
	display:none;
}
#app_login_dialog {
	display:none;
}
#sparql_filter_dialog {
	display:none;
}
#search_results {
	display:none;
	max-height:30em;
	overflow:auto;
	margin-top:10px;
}
#is_using_filter {
	display:none;
}
#dropdownUploadsLi {
	display:none;
}
div.thumb {
	margin:3px;
}
div.smallimgname {
	font-size:8pt;
}
div.popup_coords {
	margin-top:5px;
	padding-top:2px;
	font-family:Courier;
	font-size:10pt;
	border-top:1px solid #DDD;
}
div.sr_title {
	font-size:12pt;
	font-weight:bold;
}
div.sr_auto {
	font-size:10pt;
}
div.sr_manual {
	font-size:9pt;
}
li.sr_result {
	cursor:pointer;
}
div.add_image2item {
	margin-top:15px;
	padding-top:5px;
	border-top:1px solid #DDD
}
div.popup_section {
	margin-top:3px;
	padding:2px;
	border-top:1px solid #DDD
}
