.navbar .navbar-nav > li > a.purple_btn {
  background: #6C307D;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  font-variant: small-caps;
  font-size: 24px;
  letter-spacing: -0.1px;
  visibility: hidden;
}

#title {
  border: none;
  background: none;
  border-bottom: 1px solid #000;
  width: 100%;
  text-align: center;
  font-size: 32px;
}

#timeline-button {
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: #6C307D;
  font-size: 2em;
  line-height: 32px;
  padding: 24px;
  border-radius: 10px;
}

#error {
  display: block;
  margin: 32px;
  text-align: center;
}

/* From https://codepen.io/z-/pen/bwPBjY */
.timeline {
  min-height: 100vh;
  margin: 0;
  display: none;
  overflow: hidden;
  margin-bottom: 100px;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4px;
  background-color: #6C307D;
}
.timeline .entries {
  width: calc(100% - 80px);
  max-width: 800px;
  margin: auto;
  position: relative;
  left: -5px;
}
.timeline .entries .entry {
  width: calc(50% - 44px);
  float: left;
  padding: 20px;
  clear: both;
  text-align: right;
}
.timeline .entries .entry:not(:first-child) {
  margin-top: -60px;
}
.timeline .entries .entry .title {
  font-size: 32px;
  margin-bottom: 4px;
  position: relative;
  color: #222;
}
.timeline .entries .entry .title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #6C307D;
  background-color: white;
  border-radius: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -73px;
  z-index: 1000;
}
.timeline .entries .entry .title.big:before {
  width: 24px;
  height: 24px;
  -webkit-transform: translate(8px, -50%);
          transform: translate(8px, -50%);
}
.timeline .entries .entry .timeline {
  color: #aaa;
}
.timeline .entries .entry .timeline p {
  line-height: 1.4em;
}
.timeline .entries .entry:nth-child(2n) {
  text-align: left;
  float: right;
}
.timeline .entries .entry:nth-child(2n) .title:before {
  left: -63px;
}
.timeline .entries .entry:nth-child(2n) .title.big:before {
  -webkit-transform: translate(-8px, -50%);
          transform: translate(-8px, -50%);
}

/* https://loading.io/css/ */
.lds-ripple {
  display: none;
  margin: 32px auto;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #6C307D;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
