body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Courier New', monospace;
}

h1 {
    font-size: 75px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#imageContainer img {
    flex: 1 1 calc(50% - 10px); /* Fluidly distribute images in 3 columns */
    max-width: 400px;
    max-height: 300px;
    height: auto;
    object-fit: contain;
}

#map {
    width: 800px;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#refreshButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Courier New', monospace;
}

#refreshButton:hover {
    background-color: #45a049;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px; /* Adjust the value to reduce the top margin */
    margin-bottom: 5px; /* Adjust the value to reduce the bottom margin */
}


.not-clickable {
    cursor: grab;
}


.modal-target {
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .modal-target:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000000; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    padding-bottom: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    opacity: 1 !important;
    max-width: 1200px;
    object-fit: contain;
  }



