.examplesButton {
  display: none;
}

.Footer.navbar {
  display: none;
}

.show-tree-from-here {
  position: absolute;
  bottom: 0px;
  right: 2px;
  z-index: 400;
}

body {
  background-color: #fbfaf9;
}

.react-transform-component {
  background: #fbfaf9 none repeat scroll 0% 0%;
}
