html, body {
  padding:0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: #fbfaf9c9;
  font-family: 'Quicksand';
  font-size: 100%;
}

h2 {
  padding-left: 1rem;
}

a {
  color: black;
}

a:hover, a:focus {
  background: #ee6e735c;
  border: none;
  outline: none;
}

#rss-feeds ul {
  list-style: none;
  font-size: 85%;
}

li {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: #f4f3f2;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  background-color: rgba(204,204,204,.16);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07),0 3px 5px 0 rgba(0, 0, 0, 0.1);
  width: 95%;
}

li:hover {
  background: rgba(204, 204, 204, 0.33);
}

li img {
  max-width: 100%;
  height: auto;
}

.author, .date {
  font-style: oblique;
  text-indent: 0.5rem;
}
